Exercise 1

In [35]:
#Enter Python code here and hit the Run button.
num1 = int(input("Number 1 : "))
num2 = int(input("Number 2: "))

Number 1 : 4
Number 2: 54

In [36]:
product = num1 * num2

In [37]:

if product <= 1000:
    print("The result is: ", product)
else:
    print("The result is: ", num1 + num2)

The result is:  216

Exercise 2

In [38]:
for i in range(0,10):
    print("Current number is ", i ," Previous number ",i-1," Sum: ",i+(i-1) )

Current number is  0  Previous number  -1  Sum:  -1
Current number is  1  Previous number  0  Sum:  1
Current number is  2  Previous number  1  Sum:  3
Current number is  3  Previous number  2  Sum:  5
Current number is  4  Previous number  3  Sum:  7
Current number is  5  Previous number  4  Sum:  9
Current number is  6  Previous number  5  Sum:  11
Current number is  7  Previous number  6  Sum:  13
Current number is  8  Previous number  7  Sum:  15
Current number is  9  Previous number  8  Sum:  17

Exercise 3

In [39]:
str = input("Enter string: ")

Enter string: Pycharm

In [40]:
size = len(str)

In [41]:
for i in range(0, size-1, 2 ):
    print("index", i, str[i])

index 0 P
index 2 c
index 4 a

Exercise 4

In [42]:
str = input("Enter string: ")

Enter string: Aditya

In [43]:
size = len(str)

In [44]:
n = int(input("Number of chars to be removed: "))

Number of chars to be removed: 2

In [45]:
while(n > size):
    n = int(input("Enter valid chars to be removed: "))

In [48]:
print(str[n:])

itya

Exercise 5

In [49]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

In [52]:
print("result is ", numbers_x[0] == numbers_x[-1])

result is  True

In [53]:
print("result is ",numbers_y[0] == numbers_y[-1])

result is  False

Exercise 6

In [59]:
num_list = [10, 20, 33, 46, 55]

In [61]:
for i in num_list:
    if i % 5 == 0:
        print(i)

10
20
55

Exercise 7

In [62]:
str_x = "Emma is good developer. Emma is a writer"

In [64]:
print("Emma appeared", str_x.count("Emma"),"times")

Emma appeared 2 times

Function Exercises

Exercise 1

In [6]:
def print_name_age(name,age):
    print(name, age)
    
print_name_age("Adi",28)

Adi 28

In [15]:
def func1(*args):
    for i in args:
        print(i)
func1(20,40,60)
func1(70,90,110)

20
40
60
70
90
110

In [22]:
def calculation(a,b):
    addition = a+b
    subtraction = a-b
    return addition, subtraction

res = calculation(40,30)
print(res)

(70, 10)

In [24]:
def show_employees(name, salary = 9000):
    print("Name: ", name," Salary: ",salary)

show_employees("Adi", 1000)
show_employees("Adi")

Name:  Adi  Salary:  1000
Name:  Adi  Salary:  9000